body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Hidden class to hide elements */
.hidden {
    display: none;
}

/* Visible class to show elements */
.visible {
    display: block;
}

.resized-image {
    width: 500px;
    height: 300px;
}

/* Loading message styling */
#loadingMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #333;
}
